*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,arial,sans-serif;
}

body{
    line-height: 1.54;
    font-size: 0.875rem;
    font-weight: 400
}

/* CORPO DELLA PAGINA */
.centered{
    width: 800px;
    margin: 0 auto;
    text-align: left;
}

main{
    padding-top: 80px;
}

span{
    color: #3367d6;
    cursor: pointer;
}

h2{
    color: #3c4043;
}

.my-medium{
    margin-top: 30px;
    margin-bottom: 15px;
}

.mx-small{
    margin-left: 20px;
}
/* CORPO DELLA PAGINA */

/* HEADER DELLA PAGINA CON IL MENU E IL PROFILO */

header{
    height: 100px;
    padding: 20px;
    width: 100%;
    border-bottom: 2px solid gray;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.container-ul{
    list-style: none;
}

.container-ul>li{
    display: inline;
    padding-right: 20px;
}

.active{
    color: #3367d6;
    padding-bottom: 10px;
    border-bottom: 3px solid #3367d6;
}

a{
    font-weight: 500;
    color: #3c4043;
    text-decoration: none;
}

.menu-grid{
    color: #5f6368;
    font-size: 30px;
}

.menu-grid:hover{
    box-shadow: #5f6368;
    opacity: 0.2;
    cursor: pointer;
}

.red-circle{
    color: #c2185b;
    font-size: 30px;
    padding-left: 20px;
    cursor: pointer;
}